.navbar-itme-custum, .navbar-itme-custum a{
color: white;
}

.footer-custom{
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:#dfeaff ;
    padding-top: 30px;
}

.product.item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;

}
.product-item {
    margin-top: 50px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-container{
margin-bottom: 125px;
}

.product-page-price{
    font-size: 18px;
}